
.form {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 50px;
}

.form div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: auto;
}

.form label {
    margin-bottom: 5px;
    width: auto;
}

.form input[type="radio"] {
    margin-top: 5px;
    padding: 5px; /* Добавление внутреннего отступа для элементов ввода */
}

input[type="text"],
input[type="number"] {
    
    border-radius: 99em; /* Устанавливаем радиус скругления уголков */
    padding: var(--FONT_SIZE); /* Добавляем внутренний отступ для элементов ввода */
    margin: 5px; /* Добавляем внешний отступ для элементов ввода */
    font-size: var(--FONT_SIZE);
    border-style: solid;
    border-color: var(--COLOR_ACC1);
    border-bottom-color: var(--COLOR_ACC2);
    border-right-color: var(--COLOR_ACC2);
    border-width: 3px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Убираем стандартные стрелки в браузерах на основе Webkit */
    margin: 0; /* Устанавливаем отступ на ноль */
}

input[type="number"] {
    -moz-appearance: textfield; /* Для Firefox */
}

textarea {
    border-radius: var(--FONT_SIZE); /* Устанавливаем радиус скругления уголков */
    padding: var(--FONT_SIZE); /* Добавляем внутренний отступ для элементов ввода */
    margin: 5px; /* Добавляем внешний отступ для элементов ввода */
    font-size: var(--FONT_SIZE);
    border-style: solid;
    border-color: var(--COLOR_ACC1);
    border-bottom-color: var(--COLOR_ACC2);
    border-right-color: var(--COLOR_ACC2);
    border-width: 3px;
    resize: none;
}

.form .textbox label {
    display: block;
}

input[type="radio"] {
    margin-right: 5px; /* Отступ между радио-кнопкой и текстом */
}

.form .radio {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: auto;
}

.form .radio form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form .radio label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}

.form .radio  label input {
  position: absolute;
  left: -9999px;
}

.form .radio label input:checked + span {
  background-color: var(--COLOR_ACC2);
  color: #fdf8f1;
}

.form .radio label input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em var(--COLOR_ACC1);
}

.form .radio label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: var(--COLOR_ACC2);
}

.form .radio label span:hover {
    background-color: var(--COLOR_ACC2);
    color: white;
}

.form .radio label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fdf8f1;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em var(--COLOR_ACC1);
}


.charcounter {
    font-size: 17px;
    color: #5e7a1a;
}

.check {
    margin: var(--FONT_SIZE);
    font-size: 25px;
}

.check label {
    border-style: dashed;
    border-color: lightpink;
    color: red;
}
